<!DOCTYPE HTML>
<html>
<head>
<title>App Kpok</title>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		
<script type="text/javascript" charset="utf-8" src="cordova-1.7.0.js"></script>
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.mobile-1.1.0/jquery.mobile-1.1.0.min.js"></script>
<script src="js/underscore.min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/backbone.localstorage-min.js"></script>


<script src="js/plugins/jquery.hammer.js"></script>


<link rel="stylesheet" href="js/jquery.mobile-1.1.0/jquery.mobile-1.1.0.min.css" />
<link rel="stylesheet" href="js/jquery.mobile-1.1.0/themes/android-theme.css" />
<link rel="stylesheet" href="css/kpok.css" />
<script type="text/javascript">
var DEBUG_ANDROID_THEME=true
</script>
<script type="text/javascript" src="js/jquery.mobile-1.1.0/jquery.mobile.android-theme.js"></script>

</head>
<body>
<div data-role="page" id="home">

	<div data-role="header">
		<h1>App Kpok</h1>
		<a href="#options" data-icon="gear" class="ui-btn-right" data-iconpos="notext" data-transition="slide">Options</a>
	</div><!-- /header -->

	<div data-role="content">	

		<a href="#archive" class="dashboard_icon" data-transition="slide" class="dashboard_icon_text">
			<img src="img/faenza_mail.png" /><br /><span class="dashboard_icon_text">Mailingliste</span>
		</a>

		<a href="#links" class="dashboard_icon" data-transition="slide" class="dashboard_icon_text">
			<img src="img/faenza_bookmark.png" /><br /><span class="dashboard_icon_text">Links</span>
		</a>
		<a href="#call" class="dashboard_icon" data-transition="slide" class="dashboard_icon_text">
			<img src="img/faenza_call.png" /><br /><span class="dashboard_icon_text">Call Kpok</span>
		</a>
		<a href="#energy" class="dashboard_icon" data-transition="slide" class="dashboard_icon_text">
			<img src="img/faenza_battery_no.png" id="dashboard_icon_energy"/><br />
			<span class="dashboard_icon_text">Deine Kpok Energy</span>
		</a>
	<a href="#" onclick="editPhoto()"><img id="smallImage" src="" style="display:none; width:100%" /></a>
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed">
	<!-- <div data-role="navbar" data-position="fixed">
		<ul>
			<li><a onclick="capturePhoto();">Foto machen</a></li>
			<li><a onclick="getPhoto(pictureSource.PHOTOLIBRARY);">ausser Galerie</a></li>
		</ul>
	</div> -->
	</div><!-- /footer -->
</div><!-- /page -->

<div data-role="page" id="links">

	<div data-role="header">
		<a href="#home" data-icon="arrow-l" class="ui-btn-left" data-iconpos="notext" data-direction="reverse" data-transition="slide">zur&uuml;ck</a>
		<h1>Kpok Links</h1>
	</div><!-- /header -->

	<div data-role="content">
		<ul data-role="listview">	
			<li><a href="http://www.annakpok.de">
				annakpok.de
			</a></li>
			<li><a href="http://www.facebook.com/annakpok">
				Facebook
			</a></li>
			<li><a href="http://www.joindiaspora.com/u/annakpok">
				Diaspora*
			</a></li>
		</ul>
	</div>
	<div data-role="footer" data-position="fixed">
		
	</div><!-- /footer -->
</div><!-- /links page -->

<div data-role="page" id="call">

	<div data-role="header">
		<a href="#home" data-icon="arrow-l" class="ui-btn-left" data-iconpos="notext" data-direction="reverse" data-transition="slide">zur&uuml;ck</a>
		<h1>Kpok Call</h1>
	</div><!-- /header -->

	<div data-role="content">	
		Call KPOK!
		
		<label for="textarea-a">Eine Nachricht an alle schicken! (geht noch nicht):</label>
		<textarea name="textarea" id="textarea-a">Was ist los?</textarea>
		<a href="#" data-role="button">(abschicken geht noch nicht)</a>
	</div>
	<div data-role="footer" data-position="fixed">
		
	</div><!-- /footer -->
</div><!-- /call page -->

<div data-role="page" id="energy">

	<div data-role="header">
		<a href="#home" data-icon="arrow-l" class="ui-btn-left" data-iconpos="notext" data-direction="reverse" data-transition="slide">zur&uuml;ck</a>
		<h1>Kpok Energy</h1>
	</div><!-- /header -->

	<div data-role="content">	
	
		<label for="slider-kpok">Bock auf Kpok?</label>
		<input name="slider-kpok" id="slider-kpok" value="100" min="0" max="100" step="20"/><br />
		<img src="img/faenza_battery_no.png" id="kpok-energy-slider-img" />
		<p>Bisher passiert noch nix damit, aber später einmal kommt das alles in die Cloud und wenn alle auf 100 sind wird irgendwas explodieren.
	</div>
	<div data-role="footer" data-position="fixed">
		
	</div><!-- /footer -->
</div><!-- /energy page -->

<div data-role="page" id="options">

	<div data-role="header">
		<a href="#home" data-icon="arrow-l" class="ui-btn-left" data-iconpos="notext" data-direction="reverse" data-transition="slide">zur&uuml;ck</a>
		<h1>App Kpok</h1>
	</div><!-- /header -->

	<div data-role="content">	

	Gemacht mit <a href="http://www.phonegap.com">PhoneGap</a>, 
	<a href="http://www.jquery.com">jQuery</a> und 
	<a href="http://www.jquerymobile.com">jQuery Mobile</a><br />
	Ergänzt durch die Plugins <a href="https://github.com/eightmedia/hammer.js">Hammer.js</a>
	und jjoe64s <a href="https://github.com/jjoe64/jquery-mobile-android-theme">Holo Theme</a>.
	Im Backend ergänzt durch <a href="http://documentcloud.github.com/backbone/">Backbone.js</a> und
	den <a href="https://github.com/jeromegn/Backbone.localStorage">localStorage-Adapter</a>
	<p>Geräteinformationen</p>
	<p id="text"></p>
	
	</div>
	
	<div data-role="footer" data-position="fixed">
		
	</div><!-- /footer -->
</div><!-- /options page -->

<div data-role="page" id="archive">
 <!--  Idea dragging down the page should show "aktualisieren"; dragging up show "older" -->
	<div data-role="header">
		<a href="#home" data-icon="arrow-l" class="ui-btn-left"  data-direction="reverse" data-transition="slide">zur&uuml;ck</a>
		<h1>Mail-Archiv</h1>
		<a href="#ConfigDialog" data-icon="gear" class="ui-btn-right" data-iconpos="notext" data-transition="slide">zur&uuml;ck</a>
	</div><!-- /header -->

	<div data-role="content">
		<div id="MailList">
		</div>
		<div id="archive_content" data-role="listview" >
			<!-- List of archived mails -->
		
		</div>
			
		<div id="archive_bottommenu" data-role="controlgroup" data-type="horizontal">
			<a href="" data-role="button" data-icon="refresh" onclick="MailDB.update()" data-iconpos="top" >Aktualisieren</a>
			<a href="" data-role="button" data-icon="arrow-d" onclick="MailDB.getOlder()" data-iconpos="top" >Ältere Laden</a>
		</div>

			
    </div>
	<div data-role="footer" data-position="fixed">
		
	</div><!-- /footer -->
</div><!-- /archive-page -->

<div data-role="dialog" id="ConfigDialog">
	<div data-role="header">
		<h1>Einstellungen</h1>
	</div><!-- /header -->

	<div data-role="content">
	<!-- TODO Sort this.. -->
		<h3>Einstellungen für den Abruf des Mailinglisten Archivs:</h3>
		<div data-role="fieldcontain">
		    <label for="baseURL">ServerURL:</label>
		    <input type="text" name="baseURL" id="baseURL" value=""  />
		    <label for="username">Username</label>
		    <input type="text" name="username" id="username" value=""  />
		    <label for="password">Password:</label>
		    <input type="password" name="password" id="password" value=""  />
		    <a href="#" data-role="button" onclick="Config.update()">Speichern</a>
		    <h3>Anderen Einstellungen</h3>
		    <div date-role="controlgroup" data-type="horizontal">
		    	<a href="#"  data-role="button" id="deleteLocalMails" data-icon="delete" onclick="MailApp.deleteLocalMailStorage()">Lokale Mails löschen</a>
		    	<a href="#"  data-role="button" id="deleteLocalStorage" data-icon="delete" onclick="MailApp.deleteLocalStorage()">Lokalen Speicher löschen</a>
		    </div>
		</div>	
    </div>
	<div data-role="footer" data-position="fixed">
		
	</div><!-- /footer -->	
</div>

<!-- TEMPLATES -->
<script id="tplMailListEntry" type="text/template">

	<!-- Since mails are just plaintext in the database we have to replace carriage returns with HTML-Linebreaks -->
	<% if (message!="empty mail..."){ 
			message = message.replace(/\n/gi,"<br />"); 
		}else if (html != null){
			message = html;
		}else{
			message = body.replace(/\n/gi,"<br />"); 
		}
	%>
	<div data-role="collapsible" data-iconpos="right">
    	<h3><%= subject %><br />
			<span class="mailfrom">Von <%= from %>
			<br />Am <%= date %> um <%= time %> Uhr</span>
		</h3>
	<div class="mailcontent">
		<p id="<%= id %>"><%= message %></p>
	</div>
	</div>
	
</script>
<script id="tpl_archiveDividers" type="text/template">
			<div class="archivedivider ui-li-heading" id="archive_today"><h3>Heute</3></div>
			<div class="archivedivider ui-li-heading" id="archive_yesterday"><h3>Gestern</3></div>
			<div class="archivedivider ui-li-heading" id="archive_lastweek"><h3>Letzte Woche</3></div>
			<div class="archivedivider ui-li-heading"  id="archive_old"><h3>Fr&uuml;her</3></div>
</script>
<script src="js/appkpok.js"></script>
</body>
</html>