/******************************/
/*     Dashboard Styles      */
/******************************/
.dashboard_icon{
	width: 10em;
	float:left;
	text-align: center;
    text-decoration: none;
}
.dashboard_icon img{
	width: 96px;
}
.dashboard_icon_text{
    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 1px #F6F6F6;
}
/******************************/
/*     Energy Styles     */
/******************************/

.kpok-energy-slider-img{
    background-image: url("../img/faenza_battery.png");
    background-position:  center;
    background-size: cover;
    height: 96px;
    margin: auto;
    width: 96px;
}

/******************************/
/*     Mailarchive Styles     */
/******************************/
.mailmeta{
	font-size:0.9em;
	font-weight: regular;
}
.archivedivider{
	display: none;
}
.archivedivider > h3{
	padding: 0.6em;
}
#archive_bottommenu{
	margin-top:2em;
	width: 100%;
}
#archive_bottommenu > a{
	width: 49%;
}
.mailfrom{
	font-weight: normal;
	font-size: 0.8em;
}
.mailcontent{
	    white-space: normal;
}

/******************************/
/* Overrides for theme styles */
/******************************/
.ui-li-heading{
	margin:  1px 0;
}
.ui-collapsible {
    margin: 0;
}
body.android .ui-icon-loading {
    background-image: url("../js/jquery.mobile-1.1.0/images/ajax-loader.gif");
    background-size: 46px 46px;
    border-radius: 36px 36px 36px 36px;
    height: 44px;
    width: 44px;
}

body.android .ui-body-b {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
body.android .ui-page {
    background:  url("../img/schrift.png") no-repeat scroll center bottom transparent;
}

.ui-icon-menu-droid {
	background-image: url("../img/ui-icon-menu-dots-18.png") !important;
	box-shadow: none !important;

}
.ui-btn-icon-notext{
	box-shadow: none !important;
	border: none !important;
	background: none !important;
}
.ui-btn-icon-notext > .ui-btn-inner{
	border: 0 !important;
}
.ui-btn-icon-notext > .ui-btn-inner > .ui-icon{
	background-color: #222222;
}
.ui-btn-icon-notext > .ui-btn-inner > .ui-icon-shadow{
   box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
}